.container {
  background-color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
  display: flex;
}
.box {
  height: 100px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;

}

#box1 { 
  background-color: red;
}
#box2 { 
  background-color: blue;
}
#box3 { 
  background-color: yellow;
}